.add-product{
    box-sizing:border-box ;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 5px 1px;
    border-radius: 6px;
    background: black;
}
.addproduct-itemfield{
    width: 100%;
    color: white;
    font-size: 19px;
}
.addproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid red;
    outline: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.addproduct-price{
    display: flex;
    gap: 40px;
} 
.add-product-selector{
    padding: 10px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    color: black;
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 10px;
}
.addproduct-thumnail-img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0;
    cursor: pointer;
}
.addproduct-btn{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

}
@media (max-width: 800px) {
    .add-product{
        padding: 30px ;
        width: auto;
        margin: 20px;
    }
    .addproduct-price{
        flex-direction: column;
        gap: 10px;
    }
    .addproduct-itemfield input{
        height: 40px;
    }
    .addproduct-btn{
        width: 100%;
    }
}